.pc-text-img{
  width: 500px;
}
.pc-text-img ul li{
  width: 100px;
  height: 150px;
  float: left;
  overflow: hidden;
  padding: 10px 5px;
}

.pc-text-img ul li img{
  width: 100px;
  height: 100px;
}

.clearfix{
  clear: both;
  overflow: hidden;
}
